body {
	height: 100vh;
    display: flex; 
    justify-content: center;
    align-items: center;
	
}

.calculatorContainer {
    display: flex; 
    flex-direction: column;
    margin: 50px; 
    width: 600px; 
    height: fit-content; 
    align-items: center;
    border-radius: 25px;
    background-color: green;
    box-shadow: 10px 10px ;
  }
    

.screenContainer {
	display :flex;
    border: solid darkgray; 
    background-color: lightblue;
    width: 80%; 
    height: 100px; 
    margin: 40px; 
    border-radius: 15px;
	font-family: 'Scientific Calculator LCD', sans-serif;
	font-size: 2.5em;
	justify-content: right;
	align-items: center;
}

.rowContainer {
    /* border: solid purple;  */
    width: 80%; 
    height: fit-content; 
    margin: 20px;  
    justify-content: space-between;
}

.row {
    display: flex; 
    height: 100px; 
    margin-bottom: 10px;
    justify-content: space-between;
    align-items: center;
}
    

.buttonContainer {
    display: flex; 
    width: 90px; 
    height: 90px; 
    justify-content: center;
    align-items: center;
    font-size: 3em;
    background-color: yellow;
    border-radius: 10%;
}
   

.equalSign{
    background-color: aquamarine;
}

.buttonContainer:hover, .equalSign:hover{
    background-color: lightgreen;
}
